.footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 75vw;
    margin: 0 auto;
    padding: 50px 0;


}

.footer-links>a {
    font-size: 24px;
    color: white;
}